<!-- light-blue - v3.3.0 - 2016-03-08 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head(links)">
    <title>Music Store | Admin</title>

    <link th:href="@{/static/admin/css/application.css}" rel="stylesheet">
    <link rel="shortcut icon" href="/static/admin/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <th:block th:replace="${links}" />
</head>
<body>
<div class="logo" th:fragment="logo">
    <h4><a th:href="@{/}"><strong>Music Store | Admin</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse" th:fragment="nav">
    <ul id="side-nav" class="side-nav">
        <li th:class="${#httpServletRequest.requestURI == '/admin' ? 'active' : ''}">
            <a th:href="@{/admin}"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li th:class="${#httpServletRequest.requestURI == '/profile' ? 'active' : ''}">
            <a th:href="@{/profile}"><i class="fa fa-user"></i> <span class="name">Profile</span></a>
        </li>
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse"><i class="fa fa-users"></i> <span class="name">Users</span></a>
            <ul id="forms-collapse" class="panel-collapse collapse ">
                <li class=""><a th:href="@{/admin/addUser}">Add User</a></li>
                <li th:class="${#httpServletRequest.requestURI == '/admin/users' ? 'active' : ''}">
                    <a th:href="@{/admin/users}">Manage Users</a>
                </li>
            </ul>
        </li>
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-newspaper-o"></i> <span class="name">News</span></a>
            <ul id="stats-collapse" class="panel-collapse collapse ">
                <li class=""><a th:href="@{/admin/news}">Add News</a></li>
                <li class=""><a th:href="@{/admin/newsList}">Manage News</a></li>
            </ul>
        </li>
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-sticky-note"></i> <span class="name">Contact Details</span></a>
            <ul id="ui-collapse" class="panel-collapse collapse ">
                <li class=""><a th:href="@{/admin/contactList}">Manage Contacts</a></li>
            </ul>
        </li>
        <li class="panel ">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#components-collapse"><i class="fa fa-user-md"></i> <span class="name">Artists</span></a>
            <ul id="components-collapse" class="panel-collapse collapse ">
                <li class=""><a th:href="@{/admin/artist}">Add Artist</a></li>
                <li class=""><a th:href="@{/admin/artistList}" >Manage Artists</a></li>
            </ul>
        </li>
    </ul>

</nav>
<div class="wrap" th:fragment="content(name,content)">
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li>
                    <h4>
                        <span>Hello, <strong th:text="${user.getName()}"></strong></span>
                    </h4>
                </li>
                <li class="divider"></li>
                <li class="hidden-xs dropdown">
                    <a href="#" title="Account" id="account"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                    </a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                        <li role="presentation" class="account-picture">
                            <img src="/static/admin/img/2.png" alt="">
                            <span th:text="${user.getName()}"></span>
                        </li>
                        <li role="presentation">
                            <a th:href="@{/profile}" class="link">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="hidden-xs"><a th:href="@{/logout}"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="content container">
        <h2 class="page-title" th:text="${name}">sd</h2>
        <div class="row" >
            <th:block th:replace="${content}"></th:block>
        </div>
    </div>
    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>


</body>
</html>